h1{
  text-align: center;
  color: black;
  font-family: 'digital-clock-font';
  font-size: 50px;
  background-position: top;
}

body{
  background-image: url(../img/pexels1.jpeg);
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
}
#one{
  float: center;
  color: black;
  font-size: 30px;
}

#best{
  color: black;
  font-family:'joker';

}
#two{
  float: inherit;
}
